blinker==1.8.2
cGraph==0.1
click==8.1.7
colorama==0.4.6
distlib==0.3.8
docopt==0.6.2
filelock==3.13.4
Flask==3.0.3
Flask-Cors==4.0.1
graphviz==0.20.3
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
marshmallow==3.21.3
numpy==1.26.4
packaging==24.1
pbr==6.0.0
platformdirs==4.2.1
pluggy==1.5.0
PyQt6-QScintilla==2.14.1
pytest==8.2.2
pytest-watch==4.2.0
stevedore==5.2.0
virtualenv==20.26.1
virtualenv-clone==0.5.7
virtualenvwrapper==6.1.0
watchdog==4.0.1
Werkzeug==3.0.3
